dataset/oveview/train_dataset.mindrecord
dataset/oveview/train_dataset.mindrecord.db
dataset/sampler/cifar-10-batches-bin
dataset/record/test_vision.mindrecord
dataset/record/test_vision.mindrecord.db
dataset/record/test_text.mindrecord
dataset/record/test_text.mindrecord.db
dataset/eager/banana.jpg
dataset/eager/84-121123-0000.wav
train_process/model/MNIST_Data
train_process/model/checkpoint
parallel/msrun_launcher/msrun_log
parallel/msrun_launcher/MNIST_Data
train_process/algorithm_optimize/MNIST_Data
train_process/callback/MNIST_Data
train_process/optimize/datasets
train_process/optimize/rank_0
parallel/msrun_launcher/MNIST_Data.zip
test/checkpoint
test/tensorboard_logs
AlexNet/ds_has_been_normalzied
AlexNet/datasets/test/test-00000-of-00001.parquet
AlexNet/datasets/test/test.mindrecord
AlexNet/datasets/test/test.mindrecord.db
AlexNet/datasets/train/train-00000-of-00001.parquet
AlexNet/datasets/train/train.mindrecord
AlexNet/datasets/train/train.mindrecord.db
AlexNet/rank_0/om/analyze_fail.ir
AlexNet/datasets/dateset_infos.json
test/MNIST_Data/test/t10k-images-idx3-ubyte
test/MNIST_Data/test/t10k-labels-idx1-ubyte
test/MNIST_Data/train/train-images-idx3-ubyte
test/MNIST_Data/train/train-labels-idx1-ubyte
test/rank_0/om/analyze_fail.ir
