dataset/oveview/train_dataset.mindrecord
dataset/oveview/train_dataset.mindrecord.db
dataset/sampler/cifar-10-batches-bin
dataset/record/test_vision.mindrecord
dataset/record/test_vision.mindrecord.db
dataset/record/test_text.mindrecord
dataset/record/test_text.mindrecord.db
dataset/eager/banana.jpg
dataset/eager/84-121123-0000.wav
train_process/model/MNIST_Data
train_process/model/checkpoint
parallel/msrun_launcher/msrun_log
parallel/msrun_launcher/MNIST_Data
train_process/algorithm_optimize/MNIST_Data
train_process/callback/MNIST_Data
train_process/optimize/datasets
train_process/optimize/rank_0
parallel/msrun_launcher/MNIST_Data.zip